<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Gestão de Usuarios</h1>

<h2>Lista de usuarios</h2>

 <a href="new/">+ Adicionar Usuario</a>

<ul>
<tr>
{% for usuario in usuarios %}
    <table border="0"  width="20%">
    <td>
    <a href="update/{{usuario.id}}">
    <li>    {{ usuario.nome }} </li></a>
    </td>
    <td>
    <a href="delete/{{usuario.id}}"> deletar esse usuario</a>
    </td>

{% endfor %}
</tr>
</ul>
</body>
</html>